.md-guard{
    background: black;
    color: black;
    -webkit-transition: all.3s;
    -moz-transition: all.3s;
    -ms-transition: all.3s;
    -o-transition: all.3s;
    transition: all.3s;
}
.md-guard::selection {
    background: black;
    color: white;
}
.md-guard:hover {
    background: black;
    color: white;
}
.md-guard a{
    background: black;
    color: black;
    -webkit-transition: all.3s;
    -moz-transition: all.3s;
    -ms-transition: all.3s;
    -o-transition: all.3s;
    transition: all.3s;
}
.md-guard a::selection {
    background: black;
    color: white;
}
.md-guard a:hover {
    background: black;
    color: white;
}
.md-guard svg{
    background: black;
    color: black;
    -webkit-transition: all.3s;
    -moz-transition: all.3s;
    -ms-transition: all.3s;
    -o-transition: all.3s;
    transition: all.3s;
}
.md-guard svg::selection {
    background: black;
    color: white;
}
.md-guard svg:hover {
    background: black;
    color: white;
}